ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_LoadRDV_20-30_IAS_COMISSION_to_RDV_REVENUES.json
{
	"name": "tf_INITIAL_LOADING_LoadRDV_20-30_IAS_COMISSION_to_RDV_REVENUES",
	"properties": {
		"activities": [
			{
				"name": "Set JOB_NAME",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "JOB_NAME",
					"value": {
						"value": "@concat(variables('SINGLE_QUOTE'),pipeline().Pipeline,variables('SINGLE_QUOTE'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DCN_STARTJOB_RESULT",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Assign IO Data  Start Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].SP_CONV_AUDIT_STARTJOB_NEXTDATE,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_StartJob",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('incorrect io_result ',variables('IO_RESULT'))",
									"type": "Expression"
								},
								"errorCode": "0000"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "mt_LoadBDV_RDV_HOLDINGS_To_BDV_WT_LINK_INV_IAS_NBIN",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SP_CONV_LoadSTG_IAS_COMMISSION_To_STG_REVENUES(','''',pipeline().globalParameters.ENV,'''',')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "set Audit-Id",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Audit_id",
					"value": {
						"value": "@concat(variables('SINGLE_QUOTE'),pipeline().Pipeline,'-',pipeline().RunId,variables('SINGLE_QUOTE'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set JOB_NAME",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set Audit-Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_AUDIT_STARTJOB_NEXTDATE(',\nvariables('SINGLE_QUOTE'),pipeline().globalParameters.ENV,variables('SINGLE_QUOTE'),',',\nvariables('JOB_NAME'),',',\nvariables('Audit_id'),',',\nvariables('IO_RESULT'),',',\nvariables('IO_DATA_START_DATE'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dt_LoadRDV_STG_IAS_COMMISSION_To_RDV_REVENUES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('JOB_NAME'),',',variables('IO_DATA_START_DATE'),',',variables('Audit_id'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Assign IO Data  Start Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IO_DATA_START_DATE",
					"value": {
						"value": "@split(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].SP_CONV_AUDIT_STARTJOB_NEXTDATE,',' )[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set SEL-TEMP1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DCN_STARTJOB_RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL-TEMP1",
					"value": {
						"value": "@concat(variables('SEL'),'''',variables('Audit_id'),'''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dt_LoadRDV_STG_IAS_COMMISSION_To_RDV_REVENUES",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set SEL-TEMP1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS'), ',' , variables('SEL-TEMP1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.REVENUES'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.LINK_REVENUE_RR_IAS_COMMISSION''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"CALLED_SP": {
				"type": "String"
			},
			"SINGLE_QUOTE": {
				"type": "String",
				"defaultValue": "'"
			},
			"IO_RESULT": {
				"type": "String",
				"defaultValue": "'SUCCESS'"
			},
			"IO_DATA_START_DATE": {
				"type": "String",
				"defaultValue": "'01/01/2000'"
			},
			"Audit_id": {
				"type": "String"
			},
			"JOB_NAME": {
				"type": "String"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'stg.HK_LINK,stg.HK_HUB_CONTRACT,stg.HK_HUB_INVESTMENT_PRODUCT_TYPE,stg.HK_HUB_PARTY_ROLE_ADVISOR,stg.HK_HUB_PARTY_ROLE_ACCOUNT_HOLDER,stg.HK_HUB_INVESTMENT_SAVING_PROGRAM_TYPES,stg.MD_SEQ,systimestamp(),stg.MD_SOURCE,stg.MD_SRC_SYSTEM,stg.MD_EXTRACT_DT,stg.CONTRACT_ID,stg.MASTER_CODE,stg.INVESTMENT_PRODUCT_ID,stg.CLIENT_ID,stg.PLN_MNEM,stg.ACCOUNT_RAP_CODE,stg.RETAIL_PLAN,stg.ASC_1_RESP_PLAN_TYPES,stg.UNIVERIS_PLAN_ID,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_PARTY_ROLE_ADVISOR,MD_START_DT,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REPID,ADVISOR_ID,PROGRAM_TYPE,ACCOUNTID,PROCESSDATE,SOURCECODE,QUANTITY,TRANSTYPE,REVENUE,COMMISSION,NETCOMMISSION,TRANSFEE,MD_CREATION_AUDIT_ID'"
			},
			"SEL": {
				"type": "String",
				"defaultValue": "'stg.HK_LINK,stg.HK_HUB_CONTRACT,stg.HK_HUB_PARTY_ROLE_ADVISOR,stg.MD_START_DT,SYSTIMESTAMP(),stg.MD_SOURCE,stg.MD_SRC_SYSTEM,stg.MD_EXTRACT_DT,stg.REPID,stg.ADVISOR_ID,stg.PROGRAM_TYPE,stg.ACCOUNTID,stg.PROCESSDATE,stg.SOURCECODE,stg.QUANTITY,stg.TRANSTYPE,stg.REVENUE,stg.COMMISSION,stg.NETCOMMISSION,stg.TRANSFEE,"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL-TEMP1": {
				"type": "String"
			},
			"SEL-INS": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.MD_START_DT,SRC.MD_HASHDIFF,SYSTIMESTAMP(),SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,''A'',SRC.RR_CD,SRC.PLN_SYSID,SRC.BALANCE_DATE,SRC.HOLDING_VALUE,SRC.AUA,SRC.AUM,SRC.AUM_CLARINGTON,SRC.AUM_IA,SRC.CASH_POSITION,SRC.PROGRAM_TYPE,SRC.ACCOUNT_PROGRAM_TYPE,SRC.ADMINISTRATORY_TYPE,"
			},
			"INS-INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,RR_CD,PLN_SYSID,BALANCE_DATE,HOLDING_VALUE,AUA,AUM,AUM_CLARINGTON,AUM_IA,CASH_POSITION,PROGRAM_TYPE,ACCOUNT_PROGRAM_TYPE,ADMINISTRATORY_TYPE,MD_CREATION_AUDIT_ID'"
			},
			"SEL-INS-TEMP1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_IAPW/INITIAL_LOADING_20-30_RDV_IAS_COMMISSION_REVENUES"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}