ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadBDV_43_Holdings_Holdings.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadBDV_43_Holdings_Holdings",
	"properties": {
		"activities": [
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_Variable_Set,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SEL_TEMP",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP",
								"value": {
									"value": "@concat(variables('SEL'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_BDV.SP_CONV_LoadBDV_VW_INITIAL_LOADING_INVESTMENT_To_WT_INVESTMENT(''',pipeline().globalParameters.ENV,''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "m_Holdings",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SEL_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS'), ',' , variables('SEL_TEMP'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_BDV.VW_INVESTMENT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_BDV.LINK_INVESTMENT''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "SEL_TEMP2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP2",
								"value": {
									"value": "@concat(variables('SEL2'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "m_Holdings_Insert1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SEL_TEMP2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS2'), ',' , variables('SEL_TEMP2'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_BDV.VW_INVESTMENT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_BDV.SAT_LINK_INVESTMENT''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_PRE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_PRE').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_PRE",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String",
				"defaultValue": "'01/01/2000'"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL": {
				"type": "String",
				"defaultValue": "'STG.HK_LINK,STG.HK_HUB_CONTRACT,STG.HK_HUB_INVESTMENT_PRODUCT_TYPE,STG.HK_HUB_PARTY_ROLE_ADVISOR,STG.HK_HUB_PARTY_ROLE_ACCOUNT_HOLDER,STG.HK_HUB_INVESTMENT_SAVING_PROGRAM_TYPES,STG.MD_SEQ,SYSTIMESTAMP(),STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.CONTRACT_ID,STG.MASTER_CODE,STG.INVESTMENT_PRODUCT_ID,STG.CLIENT_ID,STG.PLN_MNEM,STG.ACCOUNT_RAP_CODE,STG.RETAIL_PLAN,STG.ASC_1_RESP_PLAN_TYPES,STG.UNIVERIS_PLAN_ID,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_INVESTMENT_PRODUCT_TYPE,HK_HUB_PARTY_ROLE_ADVISOR,HK_HUB_PARTY_ROLE_ACCOUNT_HOLDER,HK_HUB_INVESTMENT_SAVING_PROGRAM_TYPES,MD_SEQ,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,CONTRACT_ID,MASTER_CODE,INVESTMENT_PRODUCT_ID,CLIENT_ID,PLN_MNEM,ACCOUNT_RAP_CODE,RETAIL_PLAN,ASC_1_RESP_PLAN_TYPES,UNIVERIS_PLAN_ID,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP": {
				"type": "String"
			},
			"SEL2": {
				"type": "String",
				"defaultValue": "'src.HK_LINK,src.MD_START_DT,src.MD_HASHDIFF,SYSTIMESTAMP(),src.MD_SOURCE,src.MD_SRC_SYSTEM,src.MD_EXTRACT_DT,''A'',src.RR_CD,src.PLN_SYSID,src.BALANCE_DATE,src.HOLDING_VALUE,src.AUA,src.AUM,src.AUM_CLARINGTON,src.AUM_IA,src.CASH_POSITION,src.PROGRAM_TYPE,src.ACCOUNT_PROGRAM_TYPE,src.ADMINISTRATORY_TYPE,"
			},
			"INS2": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,RR_CD,PLN_SYSID,BALANCE_DATE,HOLDING_VALUE,AUA,AUM,AUM_CLARINGTON,AUM_IA,CASH_POSITION,PROGRAM_TYPE,ACCOUNT_PROGRAM_TYPE,ADMINISTRATORY_TYPE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP2": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SINGLE_QUOTE": {
				"type": "String",
				"defaultValue": "'"
			},
			"IO_RESULT": {
				"type": "String",
				"defaultValue": "'SUCCESS'"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_INVESTIA_UNIVERIS/SHARED_PLANS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}