ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_TRAILER_FEES_sub1.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_TRAILER_FEES_sub1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.iteration_items",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LoadSTG_INVESTIA_UNIVERIS_To_STG_TRAILER_FEES",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "temp_Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "item",
												"type": "String",
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.SP_CONV_LOADSTG_INVESTIA_UNIVERIS_TO_STG_TRAILER_FEES(''',pipeline().globalParameters.ENV,''',''',variables('temp_Filename'),''')')\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "temp_Filename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_Filename",
								"value": {
									"value": "@concat('.*PLN_SRF__',item(),'.*.csv')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SET AUDIT FOR SEL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL",
					"value": {
						"value": "@concat(variables('SEL_TEMP'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_INVESTIA_UNI_TRAILER_FEES_To_RDV_LINK_REVENUE_RR",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SET AUDIT FOR SEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_SC(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.PLN_SRF'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.LINK_REVENUE_RR\n''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Set variable SEL_SAT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_SAT",
					"value": {
						"value": "@concat(variables('SEL_TEMP_SAT'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_To_SAT_LINK_REVENUE_TRAILER_FEES_RR_INVESTIA_UNI",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable SEL_SAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.PLN_SRF'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.SAT_LINK_REVENUE_TRAILER_FEES_RR_INVESTIA_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_items": {
				"type": "array",
				"defaultValue": [
					0,
					2,
					3,
					4,
					5
				]
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.HK_HUB_CONTRACT,Src.HK_HUB_INVESTMENT_PRODUCT_TYPE,Src.MD_START_DT,Src.MD_CREATION_DT,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.PLN_SRF_SYSID,Src.TO_DT,Src.PLN_SYSID,Src.IVR_SYSID,Src.IVD_SYSID,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_INVESTMENT_PRODUCT_TYPE,MD_START_DT,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,PAY_SYSID,PAYMENT_DT,PLN_SYSID,IVR_SYSID,IVD_SYSID,MD_CREATION_AUDIT_ID'"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL": {
				"type": "String"
			},
			"temp_Filename": {
				"type": "String",
				"defaultValue": "'PLN_SRF__.csv'"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FAS_FILE_NAME,FROM_DT,MGT_CD,CURRENCY_CD,INCOME_TYPE,REP_CODE,COM_PYBL,EXCH_DT,EXCH_RATE,LAST_UPD_DT,USR_SYSID,FISCAL_SYSID,JUR_CD,ACT_TAX_COLLCTD,DLR_SYSID,RGN_SYSID,BRN_SYSID,REP_SYSID,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.MD_START_DT,Src.MD_HASHDIFF,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.FAS_FILE_NAME,Src.FROM_DT,Src.MGT_CD,Src.CURRENCY_CD,Src.INCOME_TYPE,Src.REP_CODE,Src.COM_PYBL,Src.EXCH_DT,Src.EXCH_RATE,Src.LAST_UPD_DT,Src.USR_SYSID,Src.FISCAL_SYSID,Src.JUR_CD,Src.ACT_TAX_COLLCTD,Src.DLR_SYSID,Src.RGN_SYSID,Src.BRN_SYSID,Src.REP_SYSID,CURRENT_TIMESTAMP,''A'',"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_INVESTIA_UNIVERIS/INITIAL_LOADING_20-30_RDV_INVESTIA_TRAILER_FEES"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}