ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_Holdings_sub1.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_Holdings_sub1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.iteration_items",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "mt_LoadSTG_INVESTIA_UNIVERIS_To_STG_HOLDINGS_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "temp_Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "item",
												"type": "String",
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.SP_CONV_LOADSTG_INVESTIA_UNIVERIS_TO_STG_HOLDINGS(''',pipeline().globalParameters.ENV,''',''',variables('temp_Filename'),''')')\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "temp_Filename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_Filename",
								"value": {
									"value": "@concat('.*HOLDINGS__',item(),'.*.csv')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SET AUDIT FOR SEL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL",
					"value": {
						"value": "@concat(variables('SEL_TEMP'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_To_LINK_INVESTMENT_RR_INVESTIA_UNIVERIS",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SET AUDIT FOR SEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_SC(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.HOLDINGS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_RDV.LINK_INVESTMENT_RR_IAS_NBIN''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Set variable SEL_SAT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_SAT",
					"value": {
						"value": "@concat(variables('SEL_TEMP_SAT'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_To_SAT_LINK_INVESTMENT_RR_INVESTIA_UNIVERIS_Insert",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable SEL_SAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.HOLDINGS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_RDV.SAT_LINK_INVESTMENT_RR_INVESTIA_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_items": {
				"type": "array",
				"defaultValue": [
					1,
					2
				]
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.HK_HUB_CONTRACT,Src.HK_HUB_INVESTMENT_PRODUCT_TYPE,Src.MD_SEQ,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.IVD_SYSID,Src.PLN_SYSID,Src.IVR_SYSID,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_INVESTMENT_PRODUCT_TYPE,MD_SEQ,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,INVESTMENT_PRODUCT_ID,UNIVERIS_PLAN_ID,UNIVERIS_CLIENT_ID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL": {
				"type": "String"
			},
			"temp_Filename": {
				"type": "String",
				"defaultValue": "'HOLDINGS__1.csv'"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,ACT_SYSID,REP_SYSID,FISCAL_SYSID,BAL_DATE,MV,CURRENCY_CD,EXCH_DT,EXCH_RATE,AUA,PRICE,UNITS,BV,ACB,NI_T,NI_P,FREQ_CD,UNITS_TRD_DT,FISCAL_TD_UNITS,IVD_LOAD_FLAG,WF_IND,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.MD_START_DT,Src.MD_HASHDIFF,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.ACT_SYSID,Src.REP_SYSID,Src.FISCAL_SYSID,Src.BAL_DATE,Src.MV,Src.CURRENCY_CD,Src.EXCH_DT,Src.EXCH_RATE,Src.AUA,Src.PRICE,Src.UNITS,Src.BV,Src.ACB,Src.NI_T,Src.NI_P,Src.FREQ_CD,Src.UNITS_TRD_DT,Src.FISCAL_TD_UNITS,Src.IVD_LOAD_FLAG,Src.WF_IND,CURRENT_TIMESTAMP,''A'',"
			},
			"temp_remainingIterations": {
				"type": "String",
				"defaultValue": "2"
			},
			"update_counters": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_INVESTIA_UNIVERIS/INITIAL_LOADING_20-30_RDV_INVESTIA_HOLDINGS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}