ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadBDV_40_Share_Share-tst.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadBDV_40_Share_Share-tst",
	"properties": {
		"activities": [
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SEL_TEMP",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP",
								"value": {
									"value": "@concat(variables('SEL'),',''''',variables('temp_dataStartDate'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.HOLDINGS.SP_CONV_M_LOADDM_BDV_HOLDINGS_TO_DM_WT_FACT_HOLDINGS(''',pipeline().globalParameters.ENV,''',''',variables('temp_dataStartDate'),''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "m_FACT_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SEL_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_CONV_M_FACT_INSERT(',variables('INS'),''',' ,variables('SEL_TEMP'),''',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DM.HOLDINGS.WT_FACT_HOLDINGS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DM.HOLDINGS.FACT_HOLDINGS''',',',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),',''',pipeline().RunId,''')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',''',variables('temp_dataStartDate'),''')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL": {
				"type": "String",
				"defaultValue": "'M.HK_LINK,  CURRENT_TIMESTAMP,  M.MD_SOURCE, M.MD_SRC_SYSTEM, M.MD_EXTRACT_DT, M.MD_SECURITY_TYPE, M.SK_DIM_ACCOUNTS, M.SK_DIM_MARKETPRODUCTS, M.SK_DIM_ADVISORS, M.SK_DIM_CLIENTS, M.SK_DIM_PLANS, M.RR_CD, M.PLN_SYSID, M.BALANCE_DATE, M.HOLDING_VALUE, M.AUA, M.AUM, M.AUM_CLARINGTON, M.AUM_IA, M.CASH_POSITION, M.PROGRAM_TYPE, M.ACCOUNT_PROGRAM_TYPE, M.ADMINISTRATORY_TYPE"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK, MD_CREATION_DT, MD_SOURCE, MD_SRC_SYSTEM, MD_EXTRACT_DT, MD_SECURITY_TYPE, SK_DIM_ACCOUNTS, SK_DIM_MARKETPRODUCTS, SK_DIM_ADVISORS, SK_DIM_CLIENTS, SK_DIM_PLANS, RR_CD, PLN_SYSID, BALANCE_DATE, HOLDING_VALUE, AUA, AUM, AUM_CLARINGTON, AUM_IA, CASH_POSITION, PROGRAM_TYPE, ACCOUNT_PROGRAM_TYPE, ADMINISTRATORY_TYPE"
			},
			"SEL_TEMP": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_INVESTIA_UNIVERIS/INITIAL_LOADING_60_DM_HOLDINGS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}