ADF Pipelines/adfv2Root/pipeline/tf_initial_loading_load_RDV_20-30_IAS_COMMISSION_to_RDV_Link_SHAREHIST.json
{
	"name": "tf_initial_loading_load_RDV_20-30_IAS_COMMISSION_to_RDV_Link_SHAREHIST",
	"properties": {
		"activities": [
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "AUDIT_JOB_FAILED",
								"errorCode": "FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "mt_LoadSTG_IAS_COMMISSION_To_STG_Share",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SP_CONV_LOADSTG_IAS_COMMISSION_TO_STG_SHARE(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadSTG_IAS_COMMISSION_To_STG_SHAREHIST_IAS_COMM",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SP_CONV_LOADSTG_IAS_COMMISSION_TO_STG_SHAREHIST_IAS_COMMISSION(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "SET AUDIT FOR SEL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_Share",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_SHAREHIST_IAS_COMM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SET AUDIT FOR SEL SAT",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_Share",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_SHAREHIST_IAS_COMM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_SAT",
								"value": {
									"value": "@concat(variables('SEL_TEMP_SAT'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Dummy Variable",
							"description": "Step Added to streamline Flow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_Share",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "mt_LoadSTG_IAS_COMMISSION_To_STG_SHAREHIST_IAS_COMM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Dummy",
								"value": {
									"value": "@variables('temp_JobName')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_COMMISSION_SHAREHIST_T_LK_SH_IAS_COM",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SET AUDIT FOR SEL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_MULTIIMAGE_AUDIT_ID(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.VW_SHARE_AUD'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_COMMISSION_SHART_T_ST_LK_SH_IAS_COM",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SET AUDIT FOR SEL SAT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_LOADSATLINK_MULTIIMAGE_AUDIT_ID(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.VW_SAT_LINK_COMMISSION_SHARE_RR_MULTIIMAGE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_IAS_COMMISSION_To_SAT_LINK_SHARE_RR_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set Dummy Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SP_CONV_LOADRDV_IAS_COMISSION_TO_SAT_LINK_SHARE_RR_DELETE(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "LINK_SHAREHIST_2022-05-15"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "/tmp"
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"Dummy": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.HK_HUB_FROM,SRC.HK_HUB_TO,SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,SRC.FROMREPID,SRC.TOREPID,SRC.SHARETYPE,SRC.SOURCECODE,SRC.PRODUCTCODE,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_FROM,HK_HUB_TO,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FROMREPID,TOREPID,SHARETYPE,SOURCECODE,PRODUCTCODE,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL": {
				"type": "String"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REVENUEPCT,COMMISSIONPCT,NETCOMMISSIONPCT,FEEPCT,REVNO,STAMP,START_DT,END_DT,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'STG.HK_LINK,STG.MD_START_DT,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_EXTRACT_DT,STG.REVENUEPCT,STG.COMMISSIONPCT,STG.NETCOMMISSIONPCT,STG.FEEPCT,STG.REVNO,STG.STAMP,STG.START_DT,STG.END_DT,CURRENT_TIMESTAMP,''A'',"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_IAPW/INITIAL_LOADING_20-30_RDV_IAS_COMMISSION_SHAREHIST"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}