ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadDM_60_Transactions_FactTransactions.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadDM_60_Transactions_FactTransactions",
	"properties": {
		"activities": [
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "AUDIT_JOB_FAILED",
								"errorCode": {
									"value": "@activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LoadDM_BDV_TRANSACTION_To_DM_WT_FACT_TRANS",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.TRANSACTIONS.SP_CONV_LOADDM_BDV_TRANSACTION_TO_DM_WT_FACT_TRANSACTIONS(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "m_FACT_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SEL_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_CONV_M_FACT_INSERT(',variables('INS011'),''',' ,variables('SEL_TEMP'),''',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DM.TRANSACTIONS.WT_FACT_TRANSACTIONS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DM.TRANSACTIONS.FACT_TRANSACTIONS''',',',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),',''',pipeline().RunId,''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "SEL_TEMP",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LoadDM_BDV_TRANSACTION_To_DM_WT_FACT_TRANS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP",
								"value": {
									"value": "@concat(variables('SEL011'),',''',variables('temp_dataStartDate'),'''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"INS011": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,SK_DIM_CLIENTS,SK_DIM_ADVISORS,SK_DIM_PLANS,SK_DIM_MARKETPRODUCTS,TRADE_DATE,GROSS_AMOUNT,CASH_FLOW,CASH_FLOW_TYPE,ADMINISTRATORY_TYPE"
			},
			"SEL011": {
				"type": "String",
				"defaultValue": "'M.HK_LINK,CURRENT_TIMESTAMP,M.MD_SOURCE,M.MD_SRC_SYSTEM,M.MD_EXTRACT_DT,M.SK_DIM_CLIENTS,M.SK_DIM_ADVISORS,M.SK_DIM_PLANS,M.SK_DIM_MARKETPRODUCTS,M.TRADE_DATE,M.GROSS_AMOUNT,M.CASH_FLOW,M.CASH_FLOW_TYPE,M.ADMINISTRATORY_TYPE"
			},
			"SEL_TEMP": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_INVESTIA_UNIVERIS/INITIAL_LOADING_60_DM_TRANSACTIONS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}