ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadBDV_40_Share_Share.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadBDV_40_Share_Share",
	"properties": {
		"activities": [
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_PRE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_PRE').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_PRE",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "m_share",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "m_Holdings_Insert1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "m_Holdings_delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "SEL_TEMP",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_TEMP",
					"value": {
						"value": "@concat(variables('SEL'),'''',variables('temp_tf_Audit_ID'),'''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SP_CONV_LOADBDV_RDV_INVESTIA_UNIVERIS_SHARE_TO_BDV_WT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "m_share",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SEL_TEMP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS'), ',' , variables('SEL_TEMP'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "SEL_TEMP2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_TEMP2",
					"value": {
						"value": "@concat(variables('SEL2'),'''',variables('temp_tf_Audit_ID'),'''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "m_Holdings_Insert1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SEL_TEMP2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS2'), ',' , variables('SEL_TEMP2'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "SEL_TEMP3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "m_LoadDM_BDV_HOLDINGS_To_DM_WT_FACT_HOLDINGS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_TEMP3",
					"value": {
						"value": "@concat(variables('SEL3'),'''',variables('temp_tf_Audit_ID'),'''',',','''',variables('temp_dataStartDate'),'''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "m_Holdings_delete",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SEL_TEMP3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_DELETE_AUDIT_ID(',variables('INS3'), ',' , variables('SEL_TEMP3'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_LINK_PARTY_RELATIONSHIP_COMMISSION_SHARE''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String",
				"defaultValue": "'01/01/2000'"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL": {
				"type": "String",
				"defaultValue": "'stg.HK_LINK,stg.HK_HUB_REGISTERED_REPRESENTATIVE,stg.HK_HUB_ADVISOR,SYSTIMESTAMP(),stg.MD_SOURCE,stg.MD_SRC_SYSTEM,stg.MD_EXTRACT_DT,stg.A_C_REPRESENTATIVE,stg.MASTER_CODE,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_REGISTERED_REPRESENTATIVE,HK_HUB_PARTY_ROLE_ADVISOR,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,A_C_REPRESENTATIVE,MASTER_CODE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP": {
				"type": "String"
			},
			"SEL2": {
				"type": "String",
				"defaultValue": "'src.HK_LINK,src.MD_START_DT,src.MD_HASHDIFF,SYSTIMESTAMP(),src.MD_SOURCE,src.MD_SRC_SYSTEM,src.MD_EXTRACT_DT,''A'',src.COM_TYPE,src.COMMISSIONPCT,src.IS_RESHARED,src.PHYSICAL,src.TOREPID,"
			},
			"INS2": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,COM_TYPE,COMMISSIONPCT,IS_RESHARED,PHYSICAL,TOREPID,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP2": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SINGLE_QUOTE": {
				"type": "String",
				"defaultValue": "'"
			},
			"IO_RESULT": {
				"type": "String",
				"defaultValue": "'SUCCESS'"
			},
			"SEL3": {
				"type": "String",
				"defaultValue": "'stg.HK_LINK,stg.MD_HASHDIFF,SYSTIMESTAMP(),stg.MD_SOURCE,stg.MD_SRC_SYSTEM,stg.MD_EXTRACT_DT,''A'',stg.COM_TYPE,stg.COMMISSIONPCT,stg.IS_RESHARED,stg.PHYSICAL,stg.TOREPID,"
			},
			"INS3": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_HASHDIFF,MD_CREATION_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,COM_TYPE,COMMISSIONPCT,IS_RESHARED,PHYSICAL,TOREPID,MD_CREATION_AUDIT_ID,MD_START_DT'"
			},
			"SEL_TEMP3": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_INVESTIA_UNIVERIS/SHARED_PLANS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}