ADF Pipelines/adfv2Root/pipeline/tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_SHARED_SHARE_sub1.json
{
	"name": "tf_INITIAL_LOADING_INVESTIA_LoadRDV_20-30_INVESTIA_UNIVERIS_to_RDV_SHARED_SHARE_sub1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.iteration_items",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LoadSTG_PSA_INVESTIA_UNIVERIS_To_STG_X_DBB_MASTER_REP",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "temp_Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "item",
												"type": "String",
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.SP_CONV_LOADSTG_PSA_INVESTIA_UNIVERIS_TO_STG_X_DBB_MASTER_REP_UNIVERIS(''',pipeline().globalParameters.ENV,''',''',variables('temp_Filename'),''',''',variables('temp_dataStartDate'),''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "temp_Filename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_Filename",
								"value": {
									"value": "@concat('.*x_DBB_MASTER_REP__',item(),'.*.csv')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LoadSTG_To_STG_X_DBB_MASTER_REP_FUNDEX",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "temp_Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "item",
												"type": "String",
												"value": {
													"value": "@item()",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.SP_CONV_LOADSTG_PSA_FUNDEX_UNIVERIS_TO_STG_X_DBB_MASTER_REP_FUNDEX(''',pipeline().globalParameters.ENV,''',''',variables('temp_Filename'),''',''',variables('temp_dataStartDate'),''')')\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "SET AUDIT FOR SEL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL",
					"value": {
						"value": "@concat(variables('SEL_TEMP'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_LoadRDV_STG_INVESTIA_UNIVERIS_To_Shared_LinkShare",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SET AUDIT FOR SEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_SC(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.VW_SHARE_AFTER_MERGE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Set variable SEL_SAT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_SAT",
					"value": {
						"value": "@concat(variables('SEL_TEMP_SAT'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadRDV_INVESTIA_UNIVERIS_To_Shared_SatLinkShare_Insert",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable SEL_SAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.VW_SHARE_AFTER_MERGE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_COMMISSION_SHARE_RR_INVESTIA_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Set AUDIT FOR SEL_DEL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SEL_SAT_DEL",
					"value": {
						"value": "@concat(variables('SEL_TEMP_DEL'),'''',variables('ADD_DATE'),'''',',','''''',pipeline().Pipeline,'-',pipeline().RunId,'''''''')\n\n\n\n\n\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadRDV_To_Shared_SatLinkShare_Delete",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set AUDIT FOR SEL_DEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_DELETE_AUDIT_ID(',variables('INS_SAT_DEL'), ',' , variables('SEL_SAT_DEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.VW_SHARE_AFTER_MERGE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_COMMISSION_SHARE_RR_INVESTIA_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_items": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.HK_HUB_FROM,Src.HK_HUB_TO,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.REP_CD_ORIGINAL,Src.MASTER_CD,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_FROM,HK_HUB_TO,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FROMREPID,TOREPID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL": {
				"type": "String"
			},
			"temp_Filename": {
				"type": "String"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REP_SYSID,BEN_SYSID,COMM_RATE,BRN_SYSID,BRN_CD,MD_ACTIVE,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'Src.HK_LINK,Src.MD_START_DT,Src.MD_HASHDIFF,Src.MD_SOURCE,Src.MD_SRC_SYSTEM,Src.MD_EXTRACT_DT,Src.REP_SYSID,Src.BEN_SYSID,Src.COMM_RATE,Src.BRN_SYSID,Src.BRN_CD,''A'',CURRENT_TIMESTAMP,"
			},
			"INS_SAT_DEL": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REP_SYSID,BEN_SYSID,COMM_RATE,BRN_SYSID,BRN_CD,MD_ACTIVE,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT_DEL": {
				"type": "String"
			},
			"SEL_TEMP_DEL": {
				"type": "String",
				"defaultValue": "'sat.HK_LINK,sat.MD_HASHDIFF,sat.MD_SOURCE,sat.MD_SRC_SYSTEM,sat.MD_EXTRACT_DT,sat.REP_SYSID,sat.BEN_SYSID,sat.COMM_RATE,sat.BRN_SYSID,sat.BRN_CD,''D'',CURRENT_TIMESTAMP,"
			},
			"ADD_DATE": {
				"type": "String",
				"defaultValue": "'2021-04-01'"
			}
		},
		"folder": {
			"name": "IAW/INITIAL_LOADING_INVESTIA_UNIVERIS/INITIAL_LOADING_20-30_BDV_SHARE"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}