ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_COMISSION_to_RDV_SHARED_SHARE_SUCCESS_COUNT.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_COMISSION_to_RDV_SHARED_SHARE_SUCCESS_COUNT",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ASSIGN SEL_TEMP",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_1",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA_11",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_11",
								"value": {
									"value": "@concat(variables('SEL_DATA_1'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA_22",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_22",
								"value": {
									"value": "@concat(variables('SEL_DATA_2'),'''',pipeline().parameters.temp_dataStartDate,'''',variables('comma'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_COMMISSION_To_Shared_LinkShare",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS_TEMP'), ',' , variables('SEL_TEMP_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_COMM_To_Shared_SatLinkShare_Ins",
							"description": "mt_LoadRDV_STG_IAS_COMMISSION_To_Shared_SatLinkShare_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_11",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_DATA_1'), ',' , variables('SEL_DATA_11'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_COMM_To_Shared_SatLinkShare_Del",
							"description": "mt_LoadRDV_STG_IAS_COMMISSION_To_Shared_SatLinkShare_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_22",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_DELETE_AUDIT_ID(',variables('INS_DATA_2'), ',' , variables('SEL_DATA_22'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_COMMISSION.SHARE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_COMMISSION_SHARE_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string"
			},
			"input_filepath": {
				"type": "string"
			},
			"STG_COUNT": {
				"type": "string"
			},
			"temp_dataStartDate": {
				"type": "string"
			},
			"temp_JobName": {
				"type": "string"
			},
			"temp_tf_Audit_ID": {
				"type": "string"
			},
			"Audit_Run_ID": {
				"type": "string"
			},
			"Pipeline_Name": {
				"type": "string"
			}
		},
		"variables": {
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"INS_TEMP": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_FROM,HK_HUB_TO,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FROMREPID,TOREPID,SHARETYPE,SOURCECODE,PRODUCTCODE,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_LINK,STG.HK_HUB_FROM,STG.HK_HUB_TO,STG.MD_SOURCE,STG.MD_SRCSYSTEM,STG.MD_EXTRACT_DT,STG.FROMREPID,STG.TOREPID,STG.SHARETYPE,STG.SOURCECODE,STG.PRODUCTCODE,CURRENT_TIMESTAMP,"
			},
			"SEL_TEMP_1": {
				"type": "String"
			},
			"INS_DATA_1": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REVENUEPCT,COMMISSIONPCT,NETCOMMISSIONPCT,FEEPCT,REVNO,STAMP,MD_ACTIVE,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_1": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.MD_START_DT,SRC.MD_HASHDIFF,SRC.MD_SOURCE,SRC.MD_SRCSYSTEM,SRC.MD_EXTRACT_DT,SRC.REVENUEPCT,SRC.COMMISSIONPCT,SRC.NETCOMMISSIONPCT,SRC.FEEPCT,SRC.REVNO,SRC.STAMP,''A'',CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_11": {
				"type": "String"
			},
			"INS_DATA_2": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,REVENUEPCT,COMMISSIONPCT,NETCOMMISSIONPCT,FEEPCT,REVNO,STAMP,START_DT,END_DT,MD_ACTIVE,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_2": {
				"type": "String",
				"defaultValue": "'SAT.HK_LINK,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,SAT.REVENUEPCT,SAT.COMMISSIONPCT,SAT.NETCOMMISSIONPCT,SAT.FEEPCT,SAT.REVNO,SAT.STAMP,SAT.START_DT,SAT.END_DT,''D'',CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_22": {
				"type": "String"
			},
			"comma": {
				"type": "String",
				"defaultValue": ","
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_COMMISSION/SHARE"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-04T15:39:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}