ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_UNIVERIS_to_RDV_REF_COM_PROD_SUCCESS_COUNT.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_UNIVERIS_to_RDV_REF_COM_PROD_SUCCESS_COUNT",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ASSIGN SEL_DATA_11",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_11",
								"value": {
									"value": "@concat(variables('SEL_DATA_1'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_TEMP_1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_1",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA_22",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_22",
								"value": {
									"value": "@concat(variables('SEL_DATA_2'),'''',pipeline().parameters.temp_dataStartDate,'''',variables('comma'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_SAT_REF_COM_PROD_Insert",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_11",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS_DATA_1'), ',' , variables('SEL_DATA_11'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.S_COM_PRODUCTION'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.SAT_REF_COM_PRODUCTION''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_REF_COM_PROD",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_TEMP_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADHUB_AUDIT_ID(',variables('INS_TEMP'), ',' , variables('SEL_TEMP_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.S_COM_PRODUCTION'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.REF_COM_PRODUCTION''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_SAT_REF_COM_PROD_Delete",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_22",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_DATA_2'), ',' , variables('SEL_DATA_22'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.S_COM_PRODUCTION'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.REVENUES_RDV.SAT_REF_COM_PRODUCTION''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string"
			},
			"input_filepath": {
				"type": "string"
			},
			"STG_COUNT": {
				"type": "string"
			},
			"temp_dataStartDate": {
				"type": "string"
			},
			"temp_JobName": {
				"type": "string"
			},
			"temp_tf_Audit_ID": {
				"type": "string"
			},
			"Audit_Run_ID": {
				"type": "string"
			},
			"Pipeline_Name": {
				"type": "string"
			}
		},
		"variables": {
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.COM_PRODUCTION_CD,CURRENT_TIMESTAMP,"
			},
			"INS_TEMP": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,COM_PRODUCTION_CD,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP_1": {
				"type": "String"
			},
			"SEL_DATA_1": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_START_DT,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,''A'',STG.COM_PRODUCTION_MNEM,STG.COM_PRODUCTION_DESC,STG.COM_PRODUCTION_LONG_DESC,STG.COM_PRODUCTION_MNEM_ENG,STG.COM_PRODUCTION_MNEM_FRE,STG.COM_PRODUCTION_DESC_ENG,STG.COM_PRODUCTION_DESC_FRE,STG.COM_PRODUCTION_LONG_DESC_ENG,STG.COM_PRODUCTION_LONG_DESC_FRE,STG.CRC_TRND_RPT_CAT,STG.COMMISSION_LEVEL,STG.CAC_TYPE_CD,STG.ACC_REPORT_IND,CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_11": {
				"type": "String"
			},
			"INS_DATA_1": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,COM_PRODUCTION_MNEM,COM_PRODUCTION_DESC,COM_PRODUCTION_LONG_DESC,COM_PRODUCTION_MNEM_ENG,COM_PRODUCTION_MNEM_FRE,COM_PRODUCTION_DESC_ENG,COM_PRODUCTION_DESC_FRE,COM_PRODUCTION_LONG_DESC_ENG,COM_PRODUCTION_LONG_DESC_FRE,CRC_TRND_RPT_CAT,COMMISSION_LEVEL,CAC_TYPE_CD,ACC_REPORT_IND,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_2": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,''D'',SAT.COM_PRODUCTION_MNEM,SAT.COM_PRODUCTION_DESC,SAT.COM_PRODUCTION_LONG_DESC,SAT.COM_PRODUCTION_MNEM_ENG,SAT.COM_PRODUCTION_MNEM_FRE,SAT.COM_PRODUCTION_DESC_ENG,SAT.COM_PRODUCTION_DESC_FRE,SAT.COM_PRODUCTION_LONG_DESC_ENG,SAT.COM_PRODUCTION_LONG_DESC_FRE,SAT.CRC_TRND_RPT_CAT,SAT.COMMISSION_LEVEL,SAT.CAC_TYPE_CD,SAT.ACC_REPORT_IND,CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_22": {
				"type": "String"
			},
			"INS_DATA_2": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,COM_PRODUCTION_MNEM,COM_PRODUCTION_DESC,COM_PRODUCTION_LONG_DESC,COM_PRODUCTION_MNEM_ENG,COM_PRODUCTION_MNEM_FRE,COM_PRODUCTION_DESC_ENG,COM_PRODUCTION_DESC_FRE,COM_PRODUCTION_LONG_DESC_ENG,COM_PRODUCTION_LONG_DESC_FRE,CRC_TRND_RPT_CAT,COMMISSION_LEVEL,CAC_TYPE_CD,ACC_REPORT_IND,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"comma": {
				"type": "String",
				"defaultValue": ","
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_UNIVERIS/COM_PROD"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-04T18:03:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}