ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_ACCRUED_INTEREST_sub1.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_ACCRUED_INTEREST_sub1",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('mt_STG_count').output.resultSets[0]['rows'][0].SP_CONV_STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set AUDIT FOR SEL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LoadRDV_STG_IAS_IAVM_To_LINK_ACCRUED_INTEREST_NBIN",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_SC(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_IAVM.ACCRUED_INTEREST'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_RDV.LINK_ACCRUED_INTEREST_NBIN''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dt_Audit_StartJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('dt_Audit_StartJob').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('dt_Audit_StartJob_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "m_LoadSTG_PSA_IAS_IAVM_To_STG_ACCRUED_INTEREST",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_IAVM.SP_CONV_LOADSTG_PSA_IAS_IAVM_TO_STG_ACCRUED_INTEREST(''',pipeline().globalParameters.ENV,''',''',pipeline().parameters.io_PATH,''')')\n\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_STG_count",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "m_LoadSTG_PSA_IAS_IAVM_To_STG_ACCRUED_INTEREST",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_STG_COUNT(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',''',pipeline().globalParameters.ENV,''',''IAS_IAVM'', ''ACCRUED_INTEREST''',')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_StartJob_Pre",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_StartJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dt_Audit_StartJob_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "ACCRUED_INTEREST__2022-12-07"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "/tmp"
			},
			"temp_dataStartDate": {
				"type": "string",
				"defaultValue": "'2022-12-07'"
			},
			"temp_JobName": {
				"type": "string",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_ACCRUED_INTEREST'"
			},
			"temp_tf_Audit_ID": {
				"type": "string",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_ACCRUED_INTEREST-708687394704297984'"
			},
			"io_PATH": {
				"type": "string"
			}
		},
		"variables": {
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.HK_HUB_INVESTMENT_PRODUCT_TYPE,SRC.MD_START_DT,SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,SRC.PROCESS_DATE,SRC.FIID,SRC.PRODUCT_CODE,SRC.CUSIP,SRC.ISIN,SRC.MARKET,SRC.SYMBOL,SRC.INTEREST_RATE,SRC.ACCRUED_INTEREST_METHOD1,SRC.ACCRUED_INTEREST_METHOD2,SRC.DAILY_COUNT_BASIS,SRC.INTEREST_START_DATE,SRC.YEAR_FRACTION,SRC.BASE_ACCRUED_INTEREST,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_INVESTMENT_PRODUCT_TYPE,MD_START_DT,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,PROCESS_DATE,FIID,PRODUCT_CODE,CUSIP,ISIN,MARKET,SYMBOL,INTEREST_RATE,ACCRUED_INTEREST_METHOD1,ACCRUED_INTEREST_METHOD2,DAILY_COUNT_BASIS,INTEREST_START_DATE,YEAR_FRACTION,BASE_ACCRUED_INTEREST,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"io_PATH1": {
				"type": "String",
				"defaultValue": "RAW/IAS/IAVM/2022"
			},
			"ADD_DATE": {
				"type": "String",
				"defaultValue": "'2022-12-07'"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_IAVM/ACCRUED_INTEREST"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-03T14:34:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}