ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_INVESTIA_UNIVERIS_to_RDV_HOLDINGS_SUCCESS_COUNT.json
{
	"name": "tf_LoadRDV_20-30_PSA_INVESTIA_UNIVERIS_to_RDV_HOLDINGS_SUCCESS_COUNT",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ASSIGN SEL_TEMP",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_1",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_1",
								"value": {
									"value": "@concat(variables('SEL_DATA'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dt_LoadRDV_STG_INVESTIA_HOLDINGS_To_ST_LK_IN_R_IN_UN_In",
							"description": "mt_LoadRDV_STG_WRAP_FEE_INVESTIA_UNIVERIS_To_SAT_LINK_REVENUE_WRAP_FEE_RR_INVESTIA_UNIVERIS_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_DATA'), ',' , variables('SEL_DATA_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.HOLDINGS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_RDV.SAT_LINK_INVESTMENT_RR_INVESTIA_UNIVERIS''',',',variables('TRUNC_TBL'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "dt_LoadRDV_STG_INVESTIA_HOLDINGS_To_LK_INEST_R_INA_UNIS",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS'), ',' , variables('SEL_TEMP_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.INVESTIA_UNIVERIS.HOLDINGS'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.HOLDINGS_RDV.LINK_INVESTMENT_RR_IAS_NBIN''',',',variables('TRUNC_TBL'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "HOLDINGS__2022-06-07"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "RAW/INVESTIA/UNIVERIS/2022/06/07"
			},
			"STG_COUNT": {
				"type": "string"
			},
			"temp_dataStartDate": {
				"type": "string"
			},
			"temp_JobName": {
				"type": "string"
			},
			"temp_tf_Audit_ID": {
				"type": "string"
			},
			"Audit_Run_ID": {
				"type": "string"
			},
			"Pipeline_Name": {
				"type": "string"
			}
		},
		"variables": {
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_LINK,STG.HK_HUB_CONTRACT,STG.HK_HUB_INVESTMENT_PRODUCT_TYPE,STG.MD_SEQ,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.IVD_SYSID,STG.PLN_SYSID,STG.IVR_SYSID,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_INVESTMENT_PRODUCT_TYPE,MD_SEQ,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,INVESTMENT_PRODUCT_ID,UNIVERIS_PLAN_ID,UNIVERIS_CLIENT_ID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"INS_DATA": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,ACT_SYSID,REP_SYSID,FISCAL_SYSID,BAL_DATE,MV,CURRENCY_CD,EXCH_DT,EXCH_RATE,AUA,PRICE,UNITS,BV,ACB,NI_T,NI_P,FREQ_CD,UNITS_TRD_DT,FISCAL_TD_UNITS,IVD_LOAD_FLAG,WF_IND,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.MD_START_DT,SRC.MD_HASHDIFF,SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,SRC.ACT_SYSID,SRC.REP_SYSID,SRC.FISCAL_SYSID,SRC.BAL_DATE,SRC.MV,SRC.CURRENCY_CD,SRC.EXCH_DT,SRC.EXCH_RATE,SRC.AUA,SRC.PRICE,SRC.UNITS,SRC.BV,SRC.ACB,SRC.NI_T,SRC.NI_P,SRC.FREQ_CD,SRC.UNITS_TRD_DT,SRC.FISCAL_TD_UNITS,SRC.IVD_LOAD_FLAG,SRC.WF_IND,CURRENT_TIMESTAMP,''A'',"
			},
			"SEL_TEMP_1": {
				"type": "String"
			},
			"SEL_DATA_1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_INVESTIA_UNIVERIS/HOLDINGS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-07T13:52:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}