ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND_sub1.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND_sub1",
	"properties": {
		"activities": [
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dt_Audit_StartJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('dt_Audit_StartJob').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw error",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('pre_Audit_StartJob').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "m_LoadSTG_PSA_IAS_FUNDATA_To_STG_Fund",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_FUNDATA.SP_CONV_LOADSTG_PSA_IAS_FUNDATA_TO_STG_FUND(''',pipeline().globalParameters.ENV,''',''',pipeline().parameters.io_PATH,''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_STG_count",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "m_LoadSTG_PSA_IAS_FUNDATA_To_STG_Fund",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_STG_COUNT(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',''',pipeline().globalParameters.ENV,''',''IAS_FUNDATA'', ''FUND''',')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('mt_STG_count').output.resultSets[0]['rows'][0].SP_CONV_STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Variable for LoadRDV_STG_IAS_FUNDATA_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',pipeline().parameters.temp_tf_Audit_ID,'''''')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Variable for LoadRDV_STG_IAS FUNDATA INSERT",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_SAT",
								"value": {
									"value": "@concat(variables('SEL_TEMP_SAT'),'''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Variable for LoadRDV_IAS_FUNDATA_To_RefFund_Delete",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP_DEL'),'''',variables('ADD_DATE'),'''',',','''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LoadRDV_STG_IAS_FUNDATA_To_RefFund",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Variable for LoadRDV_STG_IAS_FUNDATA_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADHUB_AUDIT_ID(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_FUNDATA.FUND'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.REF_FUND''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_FUNDATA_To_RefFund_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Variable for LoadRDV_STG_IAS FUNDATA INSERT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_FUNDATA.FUND'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_REF_FUND_IAS_FUNDATA''',',',variables('TRUNC_TBL'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "LoadRDV_IAS_FUNDATA_To_RefFund_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Variable for LoadRDV_IAS_FUNDATA_To_RefFund_Delete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_DEL'), ',' , variables('SEL_DEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_FUNDATA.FUND'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_REF_FUND_IAS_FUNDATA''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "pre_Audit_StartJob",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_StartJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "pre_Audit_StartJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_VARIABLE_SET(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "FUNDATA__2022-04-15.dat"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "/tmp"
			},
			"temp_dataStartDate": {
				"type": "string",
				"defaultValue": "'2022-04-15'"
			},
			"temp_JobName": {
				"type": "string",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND'"
			},
			"temp_tf_Audit_ID": {
				"type": "string",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND-708676237759188992'"
			},
			"io_PATH": {
				"type": "string"
			}
		},
		"variables": {
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'Stg.HK_HUB,Stg.MD_SOURCE,Stg.MD_SRC_SYSTEM,Stg.MD_EXTRACT_DT,Stg.FUNDSERVID,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FUNDSERVID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'Stg.HK_HUB,Stg.MD_START_DT,Stg.MD_HASHDIFF,Stg.MD_SOURCE,Stg.MD_SRC_SYSTEM,Stg.MD_EXTRACT_DT,Stg.FUNDID,Stg.FUNDDESCFR,Stg.FUNDDESCEN,Stg.FUNDTYPE,Stg.GROUPNAMEFR,Stg.GROUPNAMEEN,Stg.RRSPELIGIBLE,Stg.FUNDDESCLONGFR,Stg.FUNDDESCLONGEN,Stg.LEGALNAMEEN,Stg.LEGALNAMEFR,Stg.STAMP,CURRENT_TIMESTAMP,''A'',"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FUNDID,FUNDDESCFR,FUNDDESCEN,FUNDTYPE,GROUPNAMEFR,GROUPNAMEEN,RRSPELIGIBLE,FUNDDESCLONGFR,FUNDDESCLONGEN,LEGALNAMEEN,LEGALNAMEFR,STAMP,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"io_PATH1": {
				"type": "String",
				"defaultValue": "RAW/IAS/FUNDATA"
			},
			"INS_DEL": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,FUNDID,FUNDDESCFR,FUNDDESCEN,FUNDTYPE,GROUPNAMEFR,GROUPNAMEEN,RRSPELIGIBLE,FUNDDESCLONGFR,FUNDDESCLONGEN,LEGALNAMEEN,LEGALNAMEFR,STAMP,MD_CREATION_DT,MD_ACTIVE,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DEL": {
				"type": "String"
			},
			"SEL_TEMP_DEL": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,SAT.FUNDID,SAT.FUNDDESCFR,SAT.FUNDDESCEN,SAT.FUNDTYPE,SAT.GROUPNAMEFR,SAT.GROUPNAMEEN,SAT.RRSPELIGIBLE,SAT.FUNDDESCLONGFR,SAT.FUNDDESCLONGEN,SAT.LEGALNAMEEN,SAT.LEGALNAMEFR,SAT.STAMP,CURRENT_TIMESTAMP,''D'',"
			},
			"ADD_DATE": {
				"type": "String",
				"defaultValue": "'2020-05-01'"
			},
			"temp_JobName": {
				"type": "String",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND'"
			},
			"temp_dataStartDate": {
				"type": "String",
				"defaultValue": "'2022-04-15'"
			},
			"temp_tf_Audit_ID": {
				"type": "String",
				"defaultValue": "'tf_LoadRDV_20-30_PSA_IAS_FUNDATA_to_RDV_REF_FUND-708676237759188992'"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_FUNDATA/SHARED_FINANCIAL_INSTRUMENTS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-03T19:15:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}