ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_TRANSLINK_EXCHANGE_RATE.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_TRANSLINK_EXCHANGE_RATE",
	"properties": {
		"activities": [
			{
				"name": "dcn_ExchangeRateFile",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.input_filename,'EXCHANGE_RATE__')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "temp_dataStartDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_dataStartDate",
								"value": {
									"value": "@concat('''',split(split(pipeline().parameters.input_filename,'__')[1],'.')[0],'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_JobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_JobName",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_tf_Audit_ID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_tf_Audit_ID",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute IAS_IAVM_to_RDV_TRANSLINK_EXCHANGE_RATE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "temp_dataStartDate",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_JobName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_tf_Audit_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_TRANSLINK_EXCHANGE_RATE_sub1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input_filename": {
										"value": "@pipeline().parameters.input_filename",
										"type": "Expression"
									},
									"input_filepath": {
										"value": "@pipeline().parameters.input_filepath",
										"type": "Expression"
									},
									"temp_dataStartDate": {
										"value": "@variables('temp_dataStartDate')",
										"type": "Expression"
									},
									"temp_JobName": {
										"value": "@variables('temp_JobName')",
										"type": "Expression"
									},
									"temp_tf_Audit_ID": {
										"value": "@variables('temp_tf_Audit_ID')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "EXCHANGE_RATE__2022-04-15.csv"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "tmp/"
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String",
				"defaultValue": "'2021-01-01'"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_IAVM/TRANSLINK_EXCHANGE_RATE"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}