ADF Pipelines/adfv2Root/pipeline/tf_LoadDM_61_IAPW_DM_STRATEGIC_Synchronization.json
{
	"name": "tf_LoadDM_61_IAPW_DM_STRATEGIC_Synchronization",
	"properties": {
		"activities": [
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadDM_61_STRATEGIC_Accounts_Clients_Summary_RVP_Daily",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Accounts_Clients_Summary_RVP_Daily",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct_RVP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct_RVP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProvince_RVP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProvince_RVP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "LoadDM_61_STRATEGIC_Accounts_Clients_Summary_Daily",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Accounts_Clients_Summary_Daily",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assest_Summary_ByCommissionType_And_Product_RVP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Assest_Summary_ByCommissionType_And_Product_RVP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assest_Summary_ByProvince",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProvince",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assest_Summary_ByCommissionType_And_Product",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Assest_Summary_ByCommissionType_And_Product",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assest_Summary_ByAccountType_RVP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByAccountType_RVP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assests_Summary_ByCommissionType_Daily",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Assests_Summary_ByCommissionType_Daily",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assests_Summary_ByCommissionType_RVP_Daily",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_STRATEGIC_Assests_Summary_ByCommissionType_RVP_Daily",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Assest_Summary_ByAccountType",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadDM_61_DM_STRATEGIC_Assest_Summary_ByAccountType",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "dt_Audit_EndJob",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "LoadDM_61_STRATEGIC_Accounts_Clients_Summary_RVP_Daily",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct_RVP",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProvince_RVP",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LoadDM_61_STRATEGIC_Accounts_Clients_Summary_Daily",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LoadDM_61_DM_STRATEGIC_Assest_Summary_ByProduct",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assest_Summary_ByCommissionType_And_Product_RVP",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assest_Summary_ByProvince",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assest_Summary_ByCommissionType_And_Product",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assest_Summary_ByAccountType_RVP",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assests_Summary_ByCommissionType_Daily",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assests_Summary_ByCommissionType_RVP_Daily",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Assest_Summary_ByAccountType",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/61_DM_STRATEGIC/SYNCHRONIZATION_TASKFLOW"
		},
		"annotations": [
			"STRATEGIC",
			"DATAMART"
		],
		"lastPublishTime": "2022-10-31T15:34:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}