ADF Pipelines/adfv2Root/pipeline/tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP.json
{
	"name": "tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP",
	"properties": {
		"activities": [
			{
				"name": "dcn_ACCOUNTS_CLIENTS_SUMMARY_RVP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "asgn_Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.input_filename,'accountsAndClientsSummary_RVP')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS",
							"description": "tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP_sub1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "temp_tf_Audit_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_JobName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_dataStartDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP_sub1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input_filename": {
										"value": "@pipeline().parameters.input_filename",
										"type": "Expression"
									},
									"input_filepath": {
										"value": "@pipeline().parameters.input_filepath",
										"type": "Expression"
									},
									"temp_dataStartDate": {
										"value": "@variables('temp_dataStartDate')",
										"type": "Expression"
									},
									"temp_JobName": {
										"value": "@variables('temp_JobName')",
										"type": "Expression"
									},
									"temp_tf_Audit_ID": {
										"value": "@variables('temp_tf_Audit_ID')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "temp_dataStartDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_dataStartDate",
								"value": {
									"value": "@concat('''',split(split(pipeline().parameters.input_filename,'__')[1],'.')[0],'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_JobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_JobName",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_tf_Audit_ID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_tf_Audit_ID",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "asgn_Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_filename",
					"value": {
						"value": "@pipeline().parameters.input_filename",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "accountsAndClientsSummary_RVP__2022-11-29.json"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "raw/IAS/IAPW/2022/11/29"
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String",
				"defaultValue": "'2022-04-15'"
			},
			"temp_JobName": {
				"type": "String",
				"defaultValue": "'tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP'"
			},
			"temp_tf_Audit_ID": {
				"type": "String",
				"defaultValue": "'tf_LoadSTG_10-20_PSA_IAPW_PORTAL_API_to_ACCOUNTS_CLIENTS_SUMMARY_RVP-f8b782db-854d-4024-a088-a996f5aea66e'"
			},
			"temp_filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30-RDV_IAPW_PORTAL_API/ACCOUNTS_CLIENTS_SUMMARY_RVP"
		},
		"annotations": [
			"STRATEGIC",
			"IAPW_PORTAL_API",
			"STAGING"
		],
		"lastPublishTime": "2022-07-28T10:51:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}