ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_REF_HOLIDAYS.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_REF_HOLIDAYS",
	"properties": {
		"activities": [
			{
				"name": "Dcn_HolidaysFiles",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "asgn_Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('temp_filename'),'HOLIDAYS__')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "temp_dataStartDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_dataStartDate",
								"value": {
									"value": "@concat('''',split(split(pipeline().parameters.input_filename,'__')[1],'.')[0],'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_JobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_JobName",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp_tf_Audit_ID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_tf_Audit_ID",
								"value": {
									"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_REF_HOLIDAYS_S",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "temp_dataStartDate",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_JobName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "temp_tf_Audit_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "tf_LoadRDV_20-30_PSA_IAS_IAVM_to_RDV_REF_HOLIDAYS_sub1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input_filename": {
										"value": "@pipeline().parameters.input_filename",
										"type": "Expression"
									},
									"input_filepath": {
										"value": "@pipeline().parameters.input_filepath",
										"type": "Expression"
									},
									"temp_dataStartDate": {
										"value": "@variables('temp_dataStartDate')",
										"type": "Expression"
									},
									"temp_JobName": {
										"value": "@variables('temp_JobName')",
										"type": "Expression"
									},
									"temp_tf_Audit_ID": {
										"value": "@variables('temp_tf_Audit_ID')",
										"type": "Expression"
									},
									"io_PATH": {
										"value": "@pipeline().parameters.input_filepath",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "asgn_Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_filename",
					"value": {
						"value": "@pipeline().parameters.input_filename",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "REF_HOLIDAYS__2022-04-15.dat"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "RAW/IAS/IAVM/2022"
			}
		},
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"temp_filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_IAVM/REF_HOLIDAYS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-03T14:34:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}