ADF Pipelines/adfv2Root/pipeline/tf_LoadBDV_45_Shared_PartyRoleAdvisor_AUASeg.json
{
	"name": "tf_LoadBDV_45_Shared_PartyRoleAdvisor_AUASeg",
	"properties": {
		"activities": [
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "AUDIT_JOB_FAILED",
								"errorCode": "FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Dummy Variable",
							"description": "Step Added to streamline Flow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "mt_LoadBDV_RDV_HOLDINGS_To_BDV_WT_S_P_R_A_AUA_SEG_COM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Dummy",
								"value": {
									"value": "@variables('temp_JobName')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set AUDIT FOR INSERT",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Dummy Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadBDV_RDV_SAT_LINK_INVESTMENT_T_B_S_PY__Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR INSERT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_SAT_PARTY_ROLE_ADVISOR_AUA_SEG_COMPUTE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_PARTY_ROLE_ADVISOR_AUA_SEG_COMPUTE''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Set AUDIT FOR DELETE",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Dummy Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_SAT",
								"value": {
									"value": "@concat(variables('SEL_TEMP_SAT'),'''',variables('temp_dataStartDate'),'''',',','''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadBDV_RDV_SAT_LINK_INVESTMENT_T_B_S_P_R___S_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR DELETE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_SAT_PARTY_ROLE_ADVISOR_AUA_SEG_COMPUTE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_PARTY_ROLE_ADVISOR_AUA_SEG_COMPUTE''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadBDV_RDV_HOLDINGS_To_BDV_WT_S_P_R_A_AUA_SEG_COM",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SP_CONV_LOADBDV_RDV_HOLDINGS_TO_BDV_WT_SAT_PARTY_ROLE_ADVISOR_AUA_SEG_COMPUTE(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL": {
				"type": "String"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,ADVISOR_AUA_SEGMENT,ADVISOR_AUA_SEGMENT_ORDER,SUSPENDED_IND,MD_START_DT,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.ADVISOR_AUA_SEGMENT,STG.ADVISOR_AUA_SEGMENT_ORDER,STG.SUSPENDED_IND,STG.MD_START_DT,CURRENT_TIMESTAMP,''A'',"
			},
			"Dummy": {
				"type": "String"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,ADVISOR_AUA_SEGMENT,ADVISOR_AUA_SEGMENT_ORDER,SUSPENDED_IND,MD_CREATION_DT,MD_ACTIVE,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,SAT.ADVISOR_AUA_SEGMENT,SAT.ADVISOR_AUA_SEGMENT_ORDER,SAT.SUSPENDED_IND,CURRENT_TIMESTAMP,''D'',"
			},
			"ADD_DATE": {
				"type": "String",
				"defaultValue": "'2021-02-09'"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			}
		},
		"folder": {
			"name": "IAW/45_BDV_IAWEALTH/ADVISORS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-10T21:18:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}