ADF Pipelines/adfv2Root/pipeline/tf_LoadDM_60_Shared_DimAdvisors.json
{
	"name": "tf_LoadDM_60_Shared_DimAdvisors",
	"properties": {
		"activities": [
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "dt_LoadDM_DM_Wt_To_DM_DimAdvisor_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set SEL_TEMP_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.TOOLS.SP_CONV_SCD_INSERT_AUDIT_ID(',variables('INS_TEMP'), ',' , variables('SEL_TEMP_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.WT_DIM_ADVISOR'',''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.DIM_ADVISOR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "dt_Audit_EndJob",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "dt_LoadDM_DM_Wt_To_DM_DimAdvisor_Insert",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "dt_Update_DimAdvisor_Type1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "mt_LoadDM_DM_Wt_To_DM_DimAdvisor_Close",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadDM_DM_Wt_To_DM_DimAdvisor_Close",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set MER_DATA_11",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.TOOLS.SP_CONV_SCD_CLOSE(''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.WT_DIM_ADVISOR'',''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.DIM_ADVISOR''',',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "dt_Update_DimAdvisor_Type1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set MER_DATA_22",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.TOOLS.SP_CONV_SCD_UPDATE_AUDIT_ID(',variables('INS_DATA_2'), ',' , variables('SEL_DATA_22'), ',',variables('UPD_COL_22'), ',',variables('MER_DATA_22'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.WT_DIM_ADVISOR'',''DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.DIM_ADVISOR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "dt_LoadDM_BDV_Shared_To_DM_Wt_DimAdvisor",
							"description": "",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DM.SHARED.SP_CONV_LoadDM_BDV_Shared_To_DM_Wt_DimAdvisor(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Set SEL_TEMP_1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "dt_LoadDM_BDV_Shared_To_DM_Wt_DimAdvisor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_1",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',variables('temp_dataStartDate'),'''',variables('comma'),'''''', replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set SEL_DATA_11",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "dt_LoadDM_BDV_Shared_To_DM_Wt_DimAdvisor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_11",
								"value": {
									"value": "@concat(variables('SEL_DATA_1'),'''',variables('temp_dataStartDate'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set SEL_DATA_22",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "dt_LoadDM_BDV_Shared_To_DM_Wt_DimAdvisor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_22",
								"value": {
									"value": "@concat(variables('SEL_DATA_20'),'''''',replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''',variables('SEL_DATA_21'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set MER_DATA_22",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set SEL_DATA_22",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MER_DATA_22",
								"value": {
									"value": "@concat(variables('MER_DATA_20'),'''''',replace(variables('temp_tf_Audit_ID'),'''',''),'#',pipeline().Pipeline,'-',pipeline().RunId,'''''',variables('MER_DATA_21'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set MER_DATA_11",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set SEL_DATA_11",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MER_DATA_11",
								"value": {
									"value": "@concat(variables('MER_DATA_1'),'''',variables('temp_dataStartDate'),'''''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"comma": {
				"type": "String",
				"defaultValue": ","
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"INS_TEMP": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASH_NAT_KEYS,MD_HASHDIFF_TYPE1,MD_HASHDIFF_TYPE2,MD_MODIFY_DT,MD_MODIFY_AUDIT_ID,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_SECURITY_TYPE,SRC_ID,MASTER_CODE,COMPANY_CODE,COMPANY_NAME,REGULATORY_ORGANIZATION_NAME,REGULATORY_ORGANIZATION_CODE,DEALER_CODE,DEALER_NAME,REGION_CODE,REGION_NAME,REGION_VP,BRANCHCODE,BRANCHNAME,TEAM_CODE,TEAM_NAME,ADVISOR_FULLNAME,FIRSTNAME,LASTNAME,ADVISOR_CORPORATION_NAME,STATUS,GROUP_RSP_INDICATOR,PROVINCE_CODE,PROVINCE,ADVISOR_AUA_SEGMENT,ADVISOR_AUA_SEGMENT_ORDER,ADVISOR_START_DATE,NEW_ADVISOR,ADVISOR_EFFECIVENESS_DT,DEPARTED_ADVISOR_IND,PRIMARY_ROLE,END_DATE,REASON,NEW_FIRM,NEW_FIRM_TYPE,NEW_FIRM_BACK_OFFICE,PRESTIGE_STATUS,TRANSITION_PERIOD_END_DATE,DEAL_ASSESTS,EXPECTED_ASSESTS,PREVIOUS_FIRM,PREVIOUS_FIRM_TYPE,AGE_SEGMENT,AGE_SEGMENT_ORD,SUSPENDED_IND,ADVISOR_AGE,REP_EMAIL,CBM,BRANCH_ADDRESS1,BRANCH_ADDRESS2,BRANCH_CITY,BRANCH_POSTAL_CODE,BRANCH_NRD,ADVISOR_NAME,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'SRC.HK_HUB,SRC.MD_HASH_NAT_KEYS,SRC.MD_HASHDIFF_TYPE1,SRC.MD_HASHDIFF_TYPE2,SRC.MD_MODIFY_DT,SRC.MD_MODIFY_AUDIT_ID,SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,SRC.MD_SECURITY_TYPE,SRC.ID,SRC.MASTER_CODE,SRC.COMPANY_CODE,SRC.COMPANY_NAME,SRC.REGULATORY_ORGANIZATION_NAME,SRC.REGULATORY_ORGANIZATION_CODE,SRC.DEALER_CODE,SRC.DEALER_NAME,SRC.REGION_CODE,SRC.REGION_NAME,SRC.REGION_VP,SRC.BRANCHCODE,SRC.BRANCHNAME,SRC.TEAM_CODE,SRC.TEAM_NAME,SRC.ADVISOR_FULLNAME,SRC.FIRSTNAME,SRC.LASTNAME,SRC.ADVISOR_CORPORATION_NAME,SRC.STATUS,SRC.GROUP_RSP_INDICATOR,SRC.PROVINCE_CODE,SRC.PROVINCE,SRC.ADVISOR_AUA_SEGMENT,SRC.ADVISOR_AUA_SEGMENT_ORDER,SRC.ADVISOR_START_DATE,SRC.NEW_ADVISOR,SRC.ADVISOR_EFFECTIVENESS_DT,SRC.DEPARTED_ADVISOR_IND,SRC.PRIMARY_ROLE,SRC.END_DATE,SRC.REASON,SRC.NEW_FIRM,SRC.NEW_FIRM_TYPE,SRC.NEW_FIRM_BACK_OFFICE,SRC.PRESTIGE_STATUS,SRC.TRANSITION_PERIOD_END_DATE,SRC.DEAL_ASSESTS,SRC.EXPECTED_ASSESTS,SRC.PREVIOUS_FIRM,SRC.PREVIOUS_FIRM_TYPE,SRC.AGE_SEGMENT,SRC.AGE_SEGMENT_ORD,SRC.SUSPENDED_IND,SRC.ADVISOR_AGE,SRC.REP_EMAIL,SRC.CBM,SRC.BRANCH_ADDRESS1,SRC.BRANCH_ADDRESS2,SRC.BRANCH_CITY,SRC.BRANCH_POSTAL_CODE,SRC.BRANCH_NRD,SRC.ADVISOR_NAME,CURRENT_TIMESTAMP,"
			},
			"SEL_TEMP_1": {
				"type": "String"
			},
			"INS_DATA_1": {
				"type": "String",
				"defaultValue": "'MD_START_DT,MD_HASH_NAT_KEYS,MD_HASHDIFF_TYPE2,MD_MODIFY_DT,MD_MODIFY_AUDIT_ID,MD_END_DT'"
			},
			"SEL_DATA_1": {
				"type": "String",
				"defaultValue": "'DIM.MD_START_DT,DIM.MD_HASH_NAT_KEYS,DIM.MD_HASHDIFF_TYPE2,CURRENT_TIMESTAMP,-1,"
			},
			"SEL_DATA_11": {
				"type": "String"
			},
			"INS_DATA_2": {
				"type": "String",
				"defaultValue": "'MD_HASH_NAT_KEYS,MD_HASHDIFF_TYPE1,MD_MODIFY_DT,MD_MODIFY_AUDIT_ID,END_DATE,REASON,NEW_FIRM,NEW_FIRM_TYPE,NEW_FIRM_BACK_OFFICE,PRESTIGE_STATUS,TRANSITION_PERIOD_END_DATE,DEAL_ASSESTS,EXPECTED_ASSESTS,PREVIOUS_FIRM,PREVIOUS_FIRM_TYPE'"
			},
			"SEL_DATA_20": {
				"type": "String",
				"defaultValue": "'SRC.MD_HASH_NAT_KEYS,SRC.MD_HASHDIFF_TYPE1,CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_21": {
				"type": "String",
				"defaultValue": ",SRC.END_DATE,SRC.REASON,SRC.NEW_FIRM,SRC.NEW_FIRM_TYPE,SRC.NEW_FIRM_BACK_OFFICE,SRC.PRESTIGE_STATUS,SRC.TRANSITION_PERIOD_END_DATE,SRC.DEAL_ASSESTS,SRC.EXPECTED_ASSESTS,SRC.PREVIOUS_FIRM,SRC.PREVIOUS_FIRM_TYPE'"
			},
			"SEL_DATA_22": {
				"type": "String"
			},
			"MER_DATA_20": {
				"type": "String",
				"defaultValue": "'MER.MD_HASH_NAT_KEYS,MER.MD_HASHDIFF_TYPE1,CURRENT_TIMESTAMP,"
			},
			"MER_DATA_21": {
				"type": "String",
				"defaultValue": ",MER.END_DATE,MER.REASON,MER.NEW_FIRM,MER.NEW_FIRM_TYPE,MER.NEW_FIRM_BACK_OFFICE,MER.PRESTIGE_STATUS,MER.TRANSITION_PERIOD_END_DATE,MER.DEAL_ASSESTS,MER.EXPECTED_ASSESTS,MER.PREVIOUS_FIRM,MER.PREVIOUS_FIRM_TYPE'"
			},
			"MER_DATA_22": {
				"type": "String"
			},
			"UPD_COL_22": {
				"type": "String",
				"defaultValue": "'TGT.MD_HASH_NAT_KEYS = MER.MD_HASH_NAT_KEYS'"
			},
			"MER_DATA_1": {
				"type": "String",
				"defaultValue": "'MER.MD_START_DT,MER.MD_HASH_NAT_KEYS,MER.MD_HASHDIFF_TYPE2,CURRENT_TIMESTAMP,-1,"
			},
			"MER_DATA_11": {
				"type": "String"
			},
			"UPD_COL_11": {
				"type": "String",
				"defaultValue": "'TGT.MD_HASH_NAT_KEYS = MER.MD_HASH_NAT_KEYS, TGT.MD_START_DT = MER.MD_START_DT'"
			}
		},
		"folder": {
			"name": "IAW/60_DM_IAWEALTH/SHARED_ADVISORS"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-31T15:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}