ADF Pipelines/adfv2Root/pipeline/tf_LoadRDV_20-30_PSA_IAS_UNIVERIS_to_RDV_SHARED_CONTRACTS_SUCCESS_COUNT.json
{
	"name": "tf_LoadRDV_20-30_PSA_IAS_UNIVERIS_to_RDV_SHARED_CONTRACTS_SUCCESS_COUNT",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ASSIGN SEL_TEMP_1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_1",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA_11",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_11",
								"value": {
									"value": "@concat(variables('SEL_DATA_1'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_Shared_HubCONTRACTS",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_TEMP_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADHUB_AUDIT_ID(',variables('INS_TEMP'), ',' , variables('SEL_TEMP_1'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.HUB_CONTRACT''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_Shared_Insert",
							"description": "mt_LoadRDV_STG_IAS_UNIVERIS_To_Shared_SatContract_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_11",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS_DATA_1'), ',' , variables('SEL_DATA_11'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_CONTRACT_IAS_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "ASSIGN SEL_DATA_22",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_22",
								"value": {
									"value": "@concat(variables('SEL_DATA_2'),'''',pipeline().parameters.temp_dataStartDate,'''',variables('comma'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_To_Shared_Delete",
							"description": "mt_LoadRDV_STG_IAS_UNIVERIS_To_Shared_SatContract_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_22",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_DATA_2'), ',' , variables('SEL_DATA_22'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_CONTRACT_IAS_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "ASSIGN SEL_TEMP_2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_TEMP_2",
								"value": {
									"value": "@concat(variables('SEL_TEMP2'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ASSIGN SEL_DATA_33",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_33",
								"value": {
									"value": "@concat(variables('SEL_DATA_3'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_SAT_LINK_Insert",
							"description": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_SAT_LINK_INVESTMENT_CONTRACT_IAS_UNIVERIS_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_33",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_INSERT_AUDIT_ID(',variables('INS_DATA_3'), ',' , variables('SEL_DATA_33'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.VW_CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_INVESTMENT_CONTRACT_IAS_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "ASSIGN SEL_DATA_44",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DATA_44",
								"value": {
									"value": "@concat(variables('SEL_DATA_4'),'''',pipeline().parameters.temp_dataStartDate,'''',variables('comma'),'''''', replace(pipeline().parameters.temp_tf_Audit_ID,'''',''),'#',pipeline().parameters.Pipeline_Name,'-',pipeline().parameters.Audit_Run_ID,'''''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_SAT_LINK_Delete",
							"description": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_SAT_LINK_INVESTMENT_CONTRACT_IAS_UNIVERIS_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_DATA_44",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATLINK_DELETE_AUDIT_ID(',variables('INS_DATA_4'), ',' , variables('SEL_DATA_44'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.VW_CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.SAT_LINK_INVESTMENT_CONTRACT_IAS_UNIVERIS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_LINK_RR",
							"description": "mt_LoadRDV_STG_IAS_UNIVERIS_CONTRACT_To_LINK_INVESTMENT_CONTRACT_RR",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ASSIGN SEL_TEMP_2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADLINK_AUDIT_ID_RK(',variables('INS_TEMP2'), ',' , variables('SEL_TEMP_2'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.IAS_UNIVERIS.VW_CONTRACT'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_RDV.LINK_INVESTMENT_CONTRACT_RR''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string"
			},
			"input_filepath": {
				"type": "string"
			},
			"STG_COUNT": {
				"type": "string"
			},
			"temp_dataStartDate": {
				"type": "string"
			},
			"temp_JobName": {
				"type": "string"
			},
			"temp_tf_Audit_ID": {
				"type": "string"
			},
			"Audit_Run_ID": {
				"type": "string"
			},
			"Pipeline_Name": {
				"type": "string"
			}
		},
		"variables": {
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.PLN_SYSID,STG.IVR_SYSID,CURRENT_TIMESTAMP,"
			},
			"INS_TEMP": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,UNIVERIS_PLAN_ID,UNIVERIS_CLIENT_ID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP_1": {
				"type": "String"
			},
			"SEL_DATA_1": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_START_DT,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,''A'',STG.PLN_CD,STG.PLN_STATUS,STG.PLN_ADM_CD,STG.SETUP_DT,STG.CLOSE_DT,STG.PEN_JUR_CD,STG.FEE_EXMP_IND,STG.ADMINISTRATOR_TYPE,STG.REP_SYSID,STG.REP_CD,CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_11": {
				"type": "String"
			},
			"INS_DATA_1": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,PLN_CD,PLN_STATUS,PLN_ADM_CD,SETUP_DT,CLOSE_DT,PEN_JUR_CD,FEE_EXMP_IND,ADMINISTRATOR_TYPE,REP_SYSID,REP_CD,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_2": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,''D'',SAT.PLN_CD,SAT.PLN_STATUS,SAT.PLN_ADM_CD,SAT.SETUP_DT,SAT.CLOSE_DT,SAT.PEN_JUR_CD,SAT.FEE_EXMP_IND,SAT.ADMINISTRATOR_TYPE,SAT.REP_SYSID,SAT.REP_CD,CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_22": {
				"type": "String"
			},
			"INS_DATA_2": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,PLN_CD,PLN_STATUS,PLN_ADM_CD,SETUP_DT,CLOSE_DT,PEN_JUR_CD,FEE_EXMP_IND,ADMINISTRATOR_TYPE,REP_SYSID,REP_CD,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"comma": {
				"type": "String",
				"defaultValue": ","
			},
			"INS_TEMP2": {
				"type": "String",
				"defaultValue": "'HK_LINK,HK_HUB_CONTRACT,HK_HUB_PARTY_ROLE_ACCOUNT_HOLDER,HK_HUB_REGISTERED_REPRESENTATIVE,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,CONTRACT_ID,CLIENT_ID,RR_CD,UNIVERIS_PLAN_ID,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_TEMP2": {
				"type": "String",
				"defaultValue": "'STG.HK_LINK,STG.HK_HUB_CONTRACT,STG.HK_HUB_PARTY_ROLE_ACCOUNT_HOLDER,STG.HK_HUB_REGISTERED_REPRESENTATIVE,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.CONTRACT_ID,STG.CLIENT_ID,STG.RR_CD,STG.UNIVERIS_PLAN_ID,CURRENT_TIMESTAMP,"
			},
			"SEL_TEMP_2": {
				"type": "String"
			},
			"INS_DATA_3": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_3": {
				"type": "String",
				"defaultValue": "'SRC.HK_LINK,SRC.MD_START_DT,SRC.MD_HASHDIFF,SRC.MD_SOURCE,SRC.MD_SRC_SYSTEM,SRC.MD_EXTRACT_DT,''A'',CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_33": {
				"type": "String"
			},
			"INS_DATA_4": {
				"type": "String",
				"defaultValue": "'HK_LINK,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,MD_ACTIVE,MD_CREATION_DT,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL_DATA_4": {
				"type": "String",
				"defaultValue": "'SAT.HK_LINK,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,''D'',CURRENT_TIMESTAMP,"
			},
			"SEL_DATA_44": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_IAS_UNIVERIS/SHARED_CONTRACTS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-04T18:21:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}