ADF Pipelines/adfv2Root/pipeline/tf_LoadBDV_42_Shared_AccountPlans.json
{
	"name": "tf_LoadBDV_42_Shared_AccountPlans",
	"properties": {
		"activities": [
			{
				"name": "temp_JobName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_JobName",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "temp_tf_Audit_ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_tf_Audit_ID",
					"value": {
						"value": "@concat('''',pipeline().Pipeline,'-',pipeline().RunId,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate_Pre",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "temp_tf_Audit_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_NEXT_DATE(',variables('temp_JobName'),',',variables('temp_tf_Audit_ID'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "temp_JobStartDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_dataStartDate",
					"value": {
						"value": "@concat('''',activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE,'''')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "mt_audit_startJob_NextDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "temp_JobStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',variables('temp_JobName'),',',variables('temp_dataStartDate'),')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "mt_audit_startJob_NextDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('mt_audit_startJob_NextDate').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "AUDIT_JOB_FAILED",
								"errorCode": {
									"value": "@activity('mt_audit_startJob_NextDate_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_NEXT_DATE",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "m_LoadBDV_Vw_Sat_Contract_To_Wt_SatContract_Compute",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SP_CONV_LOADBDV_VW_SAT_CONTRACT_TO_WT_SAT_CONTRACT_COMPUTE(''',pipeline().globalParameters.ENV,''',',variables('temp_dataStartDate'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Set Dummy Variable",
							"description": "Step Added to streamline Flow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "m_LoadBDV_Vw_Sat_Contract_To_Wt_SatContract_Compute",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Dummy",
								"value": {
									"value": "@variables('temp_JobName')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set AUDIT FOR SEL_DEL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Dummy Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP_DEL'),'''',variables('temp_dataStartDate'),'''',',','''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dt_LoadBDV_BDV_Wt_To_Shared_SatContract_Compute_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL_DEL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_DEL'), ',' , variables('SEL_DEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_SAT_CONTRACT_COMPUTE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_CONTRACT_COMPUTE''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "dt_LoadBDV_BDV_Wt_To_Shared_SatContract_Compute_insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL_SAT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "DB_IAW_DEV_STG"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.WT_SAT_CONTRACT_COMPUTE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.SHARED_BDV.SAT_CONTRACT_COMPUTE''',',',variables('TRUNC_TBL'),')')\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Set AUDIT FOR SEL_SAT",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Dummy Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_SAT",
								"value": {
									"value": "@concat(variables('SEL_TEMP_SAT'),'''',variables('temp_tf_Audit_ID'),'''''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',variables('temp_JobName'),',',variables('temp_dataStartDate'),',',variables('temp_tf_Audit_ID'),',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_dataStartDate": {
				"type": "String"
			},
			"temp_JobName": {
				"type": "String"
			},
			"temp_tf_Audit_ID": {
				"type": "String"
			},
			"SEL_DEL": {
				"type": "String"
			},
			"SEL_TEMP_DEL": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,SAT.PLAN_CODE,SAT.PLAN_LABEL,SAT.ACCOUNT_TYPE,SAT.GROUP_TYPE_CODE,SAT.ACCUMULATION_TYPE,SAT.ACCOUNT_IND,SAT.CASH_EQLT_PROFILE_PCT,SAT.INCOME_PROFILE_PCT,SAT.GROWTH_PROFILE_PCT,SAT.SPECULATION_PROFILE_PCT,SAT.UNKNOWN_PROFILE_PCT,SAT.LOW_RISK_PCT,SAT.MEDIUM_RISK_PCT,SAT.HIGH_RISK_PCT,SAT.UNKNOWN_RISK_PCT,SAT.NBIN_CLIENT_ID, SAT.ACCNT_PRG, SAT.ACCNT_PRG_TYPE, SAT.ACCNT_MGMT_TYPE, SAT.KYC_DOC_LAST_UPD, SAT.KYC_DOC_NEXT_UPD, CURRENT_TIMESTAMP,''D'',"
			},
			"INS_DEL": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,PLAN_CODE, PLAN_LABEL,ACCOUNT_TYPE,GROUP_TYPE_CODE,ACCUMULATION_TYPE,ACCOUNT_IND,CASH_EQLT_PROFILE_PCT,INCOME_PROFILE_PCT,GROWTH_PROFILE_PCT,SPECULATION_PROFILE_PCT,UNKNOWN_PROFILE_PCT,LOW_RISK_PCT,MEDIUM_RISK_PCT,HIGH_RISK_PCT,UNKNOWN_RISK_PCT,NBIN_CLIENT_ID, ACCNT_PRG, ACCNT_PRG_TYPE, ACCNT_MGMT_TYPE, KYC_DOC_LAST_UPD, KYC_DOC_NEXT_UPD, MD_CREATION_DT,MD_ACTIVE,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"Dummy": {
				"type": "String"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_START_DT,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.PLAN_CODE,STG.PLAN_LABEL,STG.ACCOUNT_TYPE,STG.GROUP_TYPE_CODE,STG.ACCUMULATION_TYPE,STG.ACCOUNT_IND,STG.CASH_EQLT_PROFILE_PCT,STG.INCOME_PROFILE_PCT,STG.GROWTH_PROFILE_PCT,STG.SPECULATION_PROFILE_PCT,STG.UNKNOWN_PROFILE_PCT,STG.LOW_RISK_PCT,STG.MEDIUM_RISK_PCT,STG.HIGH_RISK_PCT,STG.UNKNOWN_RISK_PCT,STG.NBIN_CLIENT_ID,STG.ACCNT_PRG, STG.ACCNT_PRG_TYPE, STG.ACCNT_MGMT_TYPE, STG.KYC_DOC_LAST_UPD, STG.KYC_DOC_NEXT_UPD,CURRENT_TIMESTAMP,''A'',"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,PLAN_CODE, PLAN_LABEL,ACCOUNT_TYPE,GROUP_TYPE_CODE,ACCUMULATION_TYPE,ACCOUNT_IND,CASH_EQLT_PROFILE_PCT,INCOME_PROFILE_PCT,GROWTH_PROFILE_PCT,SPECULATION_PROFILE_PCT,UNKNOWN_PROFILE_PCT,LOW_RISK_PCT,MEDIUM_RISK_PCT,HIGH_RISK_PCT,UNKNOWN_RISK_PCT,NBIN_CLIENT_ID,ACCNT_PRG, ACCNT_PRG_TYPE, ACCNT_MGMT_TYPE, KYC_DOC_LAST_UPD, KYC_DOC_NEXT_UPD, MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"v_Dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IAW/42_BDV_IAWEALTH/SHARED_CONTRACTS"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-10T15:47:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}