ADF Pipelines/adfv2Root/pipeline/tf_OnDemand_LoadRDV_20-30_PSA_STEWARDSHIP_to_RDV_REF_MAPPING_OPER_TYPE_sub1.json
{
	"name": "tf_OnDemand_LoadRDV_20-30_PSA_STEWARDSHIP_to_RDV_REF_MAPPING_OPER_TYPE_sub1",
	"properties": {
		"activities": [
			{
				"name": "dcn_row_count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dcn_StartJob_Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('mt_STG_count').output.resultSets[0]['rows'][0].SP_CONV_STG_COUNT),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set AUDIT FOR SEL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP'),'''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set AUDIT FOR SEL_SAT",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_SAT",
								"value": {
									"value": "@concat(variables('SEL_TEMP_SAT'),'''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set AUDIT FOR SEL_DEL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SEL_DEL",
								"value": {
									"value": "@concat(variables('SEL_TEMP_DEL'),'''',pipeline().parameters.temp_dataStartDate,'''',',','''',pipeline().parameters.temp_tf_Audit_ID,'''''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mt_LoadRDV_STG_STEWARDSHIP_To_RefMappingOperType",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADHUB_AUDIT_ID(',variables('INS'), ',' , variables('SEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.STEWARDSHIP.REF_MAPPING_OPER_TYPE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.STEWARDSHIP_RDV.REF_MAPPING_OPER_TYPE''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_STEWARDSHIP_To_SatRefMpngOperType_Insert",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL_SAT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_INSERT_AUDIT_ID(',variables('INS_SAT'), ',' , variables('SEL_SAT'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.STEWARDSHIP.REF_MAPPING_OPER_TYPE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.STEWARDSHIP_RDV.SAT_REF_MAPPING_OPER_TYPE_IAS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_LoadRDV_STG_STEWARDSHIP_To_SatRefMpngOperType_Delete",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set AUDIT FOR SEL_DEL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_DATAVAULT_LOADSATELLITE_DELETE_AUDIT_ID(',variables('INS_DEL'), ',' , variables('SEL_DEL'), ',' ,'''DB_IAW_',pipeline().globalParameters.ENV,'_STG.STEWARDSHIP.REF_MAPPING_OPER_TYPE'',''DB_IAW_',pipeline().globalParameters.ENV,'_DWH.STEWARDSHIP_RDV.SAT_REF_MAPPING_OPER_TYPE_IAS''',',',variables('TRUNC_TBL'),')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dcn_StartJob_Result",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dt_Audit_StartJob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('dt_Audit_StartJob').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB_VARIABLE_SET,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Throw_Error_Start_Job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('dt_Audit_StartJob_Pre').output.resultSets[0]['rows'][0].USP_AUDIT_START_JOB",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "mt_LoadSTG_PSA_IAS_STEWARDSHIP_To_STG_REF_MPNG_OPER_TP",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_STG.STEWARDSHIP.SP_CONV_LOADSTG_PSA_IAS_STEWARDSHIP_TO_STG_REF_MAPPING_OPER_TYPE(''',pipeline().globalParameters.ENV,''',''',pipeline().parameters.io_PATH,''')')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "mt_STG_count",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "mt_LoadSTG_PSA_IAS_STEWARDSHIP_To_STG_REF_MPNG_OPER_TP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake_keyvault_auth",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.SP_CONV_STG_COUNT(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',''',pipeline().globalParameters.ENV,''',''STEWARDSHIP'', '' REF_MAPPING_OPER_TYPE''',')')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_StartJob_Pre",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DB_IAW_DEV_STG"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_ONDEMAND_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_StartJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dt_Audit_StartJob_Pre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_START_JOB_Variable_Set(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "dt_Audit_EndJob",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "dcn_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake_keyvault_auth",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('call DB_IAW_',pipeline().globalParameters.ENV,'_DWH.TOOLS.USP_AUDIT_END_JOB(',pipeline().parameters.temp_JobName,',',pipeline().parameters.temp_dataStartDate,',',pipeline().parameters.temp_tf_Audit_ID,',','''SUCCESS''',',','''Successful execution''',')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_filename": {
				"type": "string",
				"defaultValue": "MAPPING_OPER_TYPE__2022-04-15.dat"
			},
			"input_filepath": {
				"type": "string",
				"defaultValue": "/tmp"
			},
			"temp_dataStartDate": {
				"type": "string",
				"defaultValue": "'2022-04-15'"
			},
			"temp_JobName": {
				"type": "string",
				"defaultValue": "'tf_OnDemand_LoadRDV_20-30_PSA_STEWARDSHIP_to_RDV_REF_MAPPING_OPER_TYPE'"
			},
			"temp_tf_Audit_ID": {
				"type": "string",
				"defaultValue": "'tf_OnDemand_LoadRDV_20-30_PSA_STEWARDSHIP_to_RDV_REF_MAPPING_OPER_TYPE-f76c2b80-55b4-43db-a563-fe17d5e6c183'"
			},
			"io_PATH": {
				"type": "string"
			}
		},
		"variables": {
			"SEL_TEMP": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.IBMSOURCE,STG.LEVEL,CURRENT_TIMESTAMP,"
			},
			"INS": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,IBMSOURCE,LEVEL,MD_CREATION_DT,MD_CREATION_AUDIT_ID'"
			},
			"SEL": {
				"type": "String"
			},
			"TRUNC_TBL": {
				"type": "String",
				"defaultValue": "'N'"
			},
			"SEL_TEMP_SAT": {
				"type": "String",
				"defaultValue": "'STG.HK_HUB,STG.MD_START_DT,STG.MD_HASHDIFF,STG.MD_SOURCE,STG.MD_SRC_SYSTEM,STG.MD_EXTRACT_DT,STG.DESCRIPTION_EN,STG.DESCRIPTION_SHORT_EN,STG.DESCRIPTION_FR,STG.DESCRIPTION_SHORT_FR,STG.OPERATION_TYPE,STG.DISPLAY,STG.CASHFLOW_SUMMARY,STG.ISCASHFLOW,CURRENT_TIMESTAMP,''A'',"
			},
			"SEL_SAT": {
				"type": "String"
			},
			"INS_SAT": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_START_DT,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,DESCRIPTION_EN,DESCRIPTION_SHORT_EN,DESCRIPTION_FR,DESCRIPTION_SHORT_FR,OPERATION_TYPE,DISPLAY,CASHFLOW_SUMMARY,ISCASHFLOW,MD_CREATION_DT,MD_ACTIVE,MD_CREATION_AUDIT_ID'"
			},
			"io_PATH1": {
				"type": "String",
				"defaultValue": "RAW/IAS/STEWARDSHIP/2022"
			},
			"SEL_DEL": {
				"type": "String"
			},
			"SEL_TEMP_DEL": {
				"type": "String",
				"defaultValue": "'SAT.HK_HUB,SAT.MD_HASHDIFF,SAT.MD_SOURCE,SAT.MD_SRC_SYSTEM,SAT.MD_EXTRACT_DT,SAT.DESCRIPTION_EN,SAT.DESCRIPTION_SHORT_EN,SAT.DESCRIPTION_FR,SAT.DESCRIPTION_SHORT_FR,SAT.OPERATION_TYPE,SAT.DISPLAY,SAT.CASHFLOW_SUMMARY,SAT.ISCASHFLOW,CURRENT_TIMESTAMP,''A'',"
			},
			"INS_DEL": {
				"type": "String",
				"defaultValue": "'HK_HUB,MD_HASHDIFF,MD_SOURCE,MD_SRC_SYSTEM,MD_EXTRACT_DT,DESCRIPTION_EN,DESCRIPTION_SHORT_EN,DESCRIPTION_FR,DESCRIPTION_SHORT_FR,OPERATION_TYPE,DISPLAY,CASHFLOW_SUMMARY,ISCASHFLOW,MD_CREATION_DT,MD_ACTIVE,MD_START_DT,MD_CREATION_AUDIT_ID'"
			},
			"ADD_DATE": {
				"type": "String",
				"defaultValue": "'2021-02-09'"
			}
		},
		"folder": {
			"name": "IAW/20-30_RDV_STEWARDSHIP/MAPPING_OPER_TYPE"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-03T14:34:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}